debug/
/target

Cargo.lock
**/*.rs.bk
*.pdb

*.exe
jackal-dev
resources/sprt.txt
*.bin
/checkpoints
/.vs
/resources/books
*.pgn
resources/explansion_plan.txt
/scaling
monty.binpack
/policy_checkpoints
